* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  display: flex;
  height: 100vh;
  background: #ffffff;
}

/* SIDEBAR */
.sidebar {
  width: 230px;
  background: linear-gradient(to bottom, #f2f2f2, #dadada);
  border-right: 6px solid #0a0a3c;
  display: flex;
  flex-direction: column;
  padding: 10px 12px;
}

.logo {
  text-align: center;
  margin-bottom: 15px;
}

.logo img {
  width: 160px;
}

.menu {
  list-style: none;
  font-size: 13px;
}

.menu li {
  padding: 9px 10px;
  margin: 3px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #2b2b2b;
  cursor: pointer;
  border-radius: 3px;
}

.menu li:hover {
  background: #cfcfcf;
}

.menu li span {
  color: #555;
  font-weight: bold;
}

/* MAIN */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* FAIXA CINZA */
.topbar {
  height: 28px;
  background: #dcdcdc;
  border-bottom: 1px solid #bcbcbc;
}

/* HEADER */
.header {
  background: #0a0a3c;
  color: #ffffff;
  padding: 14px 20px;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 3px solid #3f5bd8;
}

/* CONTEÚDO */
.content {
  flex: 1;
  margin: 8px;
  background: #ffffff;
  border: 1px solid #c9c9c9;
}


.perfil {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 270px 0px;
}

.perfil img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  
}

.perfil span {
  font-weight: bold;
  
}

/* FOOTER */
.footer {
  font-size: 10.5px;
  color: #666;
  padding: 4px 10px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #d0d0d0;
}